version: '3'

services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=${DB_USER:-objecttypes}
      - POSTGRES_PASSWORD=${DB_PASSWORD:-objecttypes}

  web:
    build: .
    image: maykinmedia/objecttypes-api:latest
    environment:
      - DJANGO_SETTINGS_MODULE=objecttypes.conf.docker
      - SECRET_KEY=${SECRET_KEY:-fgv=c0hz&tl*8*3m3893@m+1pstrvidc9e^5@fpspmg%cy$15d}
    ports:
      - 8001:8000
    depends_on:
      - db
