{% extends 'admin/change_form.html' %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:core_objecttype_changelist' %}">{% trans 'Objecttypes' %}</a>
    &rsaquo; <a href="{% url 'admin:core_objecttype_change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
    &rsaquo; {% trans 'Export to Community' %}
</div>
{% endblock %}


{% block content %}
    <h1>{% trans 'Export JSON schema to Community' %}</h1>
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
{#            {{ form.as_p }}#}
            <fieldset class="module aligned">
                {% for field in form %}
                    <div class="form-row">
                        {{ field.errors }}
                        <label class="{% if field.field.required %}required{% endif %}">{{ field.label|capfirst }}:</label>
                        {{ field }}
                        {% if field.field.help_text %}&nbsp;
                            <div class="help">{{ field.field.help_text }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="submit-row">
                <input type="submit" class="default" value="{% trans 'Export' %}">
            </div>
        </form>
    </div>
    <br/>
{% endblock %}