{% extends "maykin_common/api/index_base.html" %}
{% load i18n %}

{% block page_title %}{{ settings.PROJECT_NAME }}{% endblock %}
{% block page_subtitle %}{{ settings.SITE_TITLE }}{% endblock page_subtitle %}

{% block content_nl %}
    <p>
        De Objecttypen API heeft als doel om uiteenlopende typen objecten op een
        dynamische wijze te standaardiseren op landelijk niveau en om te voorkomen dat
        voor elk (eenvoudig) object een volledige API wordt opgezet.
    </p>
    <p>
        Deze landelijke Objecttypen API is noodzakelijk voor het registreren van
        objecten in lokale <a class="link" href="https://github.com/maykinmedia/objects-api">Objecten API</a>.
        Organisaties kunnen lokaal ook een
        Objecttypen API draaien en zo landelijke als lokale definities van objecten hanteren.
    </p>
{% endblock content_nl %}

{% block content_en %}
    <p>
        The Objecttypes API aims to standardize various types of objects, on a national
        level, in an accessible way and without the need to create a whole new API for
        each (simple) object.
    </p>
    <p>
        This national Objecttypes API is required for registering objects in local
        <a class="link" href="https://github.com/maykinmedia/objects-api">Objects API</a>.
        Organisations can also run an Objecttypes API locally, to use both national and local definitions of objects.
    </p>
{% endblock content_en %}

{% block license_link %}https://github.com/maykinmedia/objecttypes-api/blob/master/LICENSE.md{% endblock %}

{% block api_links %}
    {% url version|add:":schema-redoc" as api_docs_link %}
    {% url version|add:":api-root" as api_schema_link %}

    {% with api_docs_link=api_docs_link api_schema_link=api_schema_link %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

