.button {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  border-radius: 0.2rem;
  color: #fff;

  &:hover {
    background-color: #138496;
    border-color: #117a8b;
  }

  &--alert {
    background-color: #dc3545;
    border-color: #dc3545;

    &:hover {
      background-color: #c82333;
      border-color: #bd2130;
    }
  }
}