tokenauth_config_enable: true
tokenauth:
  items:
    - identifier: token-1
      token: 18b2b74ef994314b84021d47b9422e82b685d82f
      contact_person: Person 1
      email: person-1@example.com
      organization: Organization 1
      application: Application 1
      administration: Administration 1


oidc_db_config_enable: true
oidc_db_config_admin_auth:
  providers:
  - identifier: admin-oidc
    oidc_use_nonce: true
    oidc_nonce_size: 32
    oidc_state_size: 32
    endpoint_config:
        oidc_op_authorization_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/auth
        oidc_op_jwks_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/certs
        oidc_op_token_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/token
        oidc_op_user_endpoint: http://localhost:8080/realms/test/protocol/openid-connect/userinfo
  items:
  - identifier: admin-oidc
    enabled: true
    oidc_rp_client_id: testid
    oidc_rp_client_secret: 7DB3KUAAizYCcmZufpHRVOcD0TOkNO3I
    oidc_rp_scopes_list:
    - openid
    - email
    - profile
    oidc_rp_sign_algo: RS256
    oidc_provider_identifier: admin-oidc
    userinfo_claims_source: id_token
    options:
      user_settings:
        claim_mappings:
          username:
            - sub
          first_name:
            - given_name
          email:
            - email
        username_case_sensitive: true
      groups_settings:
        claim_mapping:
          - groups
        sync: true
        sync_pattern: '*'
        default_groups: []
        make_users_staff: true
        superuser_group_names:
          - Registreerders
