name: code-quality

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  open-api-workflow-code-quality:
    uses: maykinmedia/open-api-workflows/.github/workflows/code-quality.yml@v6
    with:
      python-version: '3.12'
      node-version: '24'
      postgres-image: 'postgres:17'

      ruff-src-pattern: 'src'

      django-settings-module: 'objecttypes.conf.ci'
      django-secret-key: dummy
